*{
  box-sizing: border-box;
}

.wrapper{
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  max-width: 1280px;
}

a{
  text-decoration: none;
  display: block;
}

.header{
  display: inline-block;
  font-size: 80px;
  margin: 60px 0 40px;
  color: #4BCAFF;
}

.header-span{
  color: #000000;
}

.header:hover{
  text-decoration: underline;
}

.header-nav{
  display: flex;
  justify-content: center;
  background: #35444F;
  margin-bottom: 50px;
}

.header-nav li {
  border: 1px solid #FFFFFF;
}

.header-nav a{
  padding: 25px 33px 20px;
  color: #FFFFFF;
  font-size: 24px;
}

.header-nav a:hover{
  background: #222F3A;
}

.main-wrap{
  display: flex;
}

.sidebar{
  flex-basis: 400px;
}

.sidebar-menu{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin-right: 65px;
}

.sidebar-menu a{
  font-size: 27px;
  padding: 25px 40px;
  color: #485863;
}

.sidebar-menu a:hover{
  background: #DBDBDB;
  color: #000000;
  text-align: center;
}

.info{
  flex-basis: 900px;
}

.img-wrap{
  border: 1px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 75px 0;
  margin-bottom: 40px;
}

img {
  transition: transform 0.5s;
}

img:hover {
  transform: scale(1.1);
}

.info-text{
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 35px;
}

.footer-wrap{
  display: flex;
  justify-content: space-between;
  background: rgba(99, 105, 110, 0.48);
  align-items: center;
  margin: 20px 0 30px 0;
}

.footer-nav{
  display: flex;
}

.footer-nav a{
  padding: 20px 0 20px 40px;
  font-size: 28px;
  color: #0C1927
}

.footer-nav a:hover{
  color: #3181A6;
  text-decoration: underline;
}

.footer-info{
  font-size: 24px;
  color: #010101;
  padding-right: 40px;
}
